  .box{
    display: flex;
    justify-content: space-between;
    background-color: white;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
  }
    
    
  .text{
    font-size: 30px;
    color: black;
    width: 230px;
    text-align: center;
      
  }

  .links{
    display: flex;
    align-items:flex-end;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px;
  }
