  .box{
    box-shadow: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
    
    
  .text{
    font-size: 20px;
    color: black;
      
    width: 70px;
    text-align: center;
      
  }