.wrapper {
    

    &__img{
        margin: 30px;
        height: 400px;
        width: 800px
    }

    &__title{
        margin-left: 30px;
        text-decoration: underline;

    }

    &__desc{
        margin-left: 30px;

    }
 








}


