.wrapper {
    width: 100%;
    background-color: transparent;

    &__gallery{
        border: 2px solid black;
        height: 200px;
        width: 600px;
    }
    &__desc{
        font-size: 13px;
        margin-bottom: 20px;
    }
    &__img{
        max-width: 100%;
    }
}
.flex{
    display: flex;
    width: 100%;
}
