
.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
}

.card {
  /* Add shadows to create the "card" effect */
  display: flex;
  width: 250px;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  &__.description {
    font-size: 5vw;
  }

}

.poster {
  width: 100%;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.info {
  color: rgb(89, 184, 137);
}
