.card_body {
  background-color: rgb(229, 223, 217);
}

.pippo_wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.city_page_data {
  border-radius: 10px;
  margin-bottom: 3vh;
  border-style: outset;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 60vw;

  .city_page_name {
    text-align: center;
  }

  .city_page_poster {
    width: 50vw;
    height: 50vh;
  }
}

.paperino_wrapper {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: center;
  // gap: 20px;
  // background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4vw;
  cursor: pointer;

  .activity_container {
    display: flex;
    width: 40vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    &__.activity_about{
      font-size: 5vw;
    }

    
  }
  .activity_poster {
    width: 100%;
  }
}
